.background {
    background: url('../../assets/background-initial.png');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-img {
    background: url('../../assets/logo.png');
    height: 30vh;
    width: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .image {
    background: url('../../assets/logo.png');
  }

  .title {
    color: white;
    font-weight: bolder;
  }

  .card-title {
    font-size: 1em;
    font-weight: bolder;
  }

  .primary-button {
    background: #58AFCB;
    border: none;
    color: white;
    border-radius: 0.5em;
    height: 3em;
  }

  .secondary-button {
    background: #285260;
    border: none;
    color: white;
    border-radius: 0.5em;
    height: 3em;
  }
  .login-button {
    background: #3EA0F3;
    border: none;
    color: white;
    border-radius: 0.5em;
    height: 3em;
  }


  .loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #3498db; /* Mudar a cor conforme necessário */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
    align-self: center;
    margin-top: 1em;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  